<h1 class="display-1 text-success text-center mb-5">
  Administrator
</h1>

<%= render 'admin/nav_links' %>

<div class="border border-secondary rounded p-5 my-5">
  <%= render partial: 'admin/total_daily_views' %>
</div>
