<h1 class="text-center mb-5 display-6">
  Personal page
</h1>

<p class="text-muted">
  You can read more about me, or checkout my blog.
</p>

<%= link_to "About me", about_path, class: 'btn btn-sm btn-secondary' %>
<%= link_to "Blog", posts_path, class: 'btn btn-sm btn-success' %>
