<h1 class="mb-5">
  Editing post
</h1>

<div class="border rounded p-5">
  <%= render "form", post: @post %>
</div>

<br>

<div>
  <%= link_to "Show this post", @post %><br>
  <%= link_to "Back to posts", posts_path %>
</div>
